body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, rgba(108, 107, 109, 0.555), rgba(0, 0, 0, 0.603));
}

.container {
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;    
}

.left-img {
    flex: 1;
    background: linear-gradient(to bottom, #8d7af7,#ddb3c1, #faf496);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.form-container {
    padding: 20px;
    width: 450px;
}

h1 {
    margin: 0;
    font-size: 27px;
}

p {
    margin: 10px 0;
}

.input-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 20px;
    gap: 50px;
}

.gender{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-top: 40px;
    gap: 10px;
}


.dash{
    padding: 10px;
    margin-bottom: 10px;
    border: none; 
    border-bottom: 2px solid #a45eff;
    width: 400px;

}
.dash:focus
{
    outline: none;
    
}

button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(to right, #7a4a99,#b35cae);
    border: none;
    border-radius: 20px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.gen-val{
    width: 90%;
    border: 1px solid #dec5ff;
    border-radius: 20px;
    color: #8d0ddc;
    background: white;
    font-size: 18px;
    cursor: pointer;
}

#dob-year, #dob-month, #dob-day{
    border-radius: 9px;
    margin-top: 10px;
    width: 140px;
    text-align: center;
    font-size: 14px;
    color: #a5a5a5;
    border: 1px solid #a5a5a5;
}

.selected{
    background: #8d0ddc;
    color: white;
}